name: frontend pull request workflow
# フロントエンドディレクトリに変更があるPRが作成された際に実行

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "**.yml"

jobs:
  style_check:
    uses: ./.github/workflows/frontend_style_check.yml
  generate_check:
    uses: ./.github/workflows/frontend_build_check.yml
